/* +++++++++++++++++++++++++++++++
   general design
   +++++++++++++++++++++++++++++++  */
html, body {
    font-family:'Courier','Lucida Console',sans-serif;
    font-size:8pt;
    margin:0;
    height:100%;
}
a {
    text-decoration:none;
    color:#0000ee;
}
a:hover{
    color:#ffa900;
}
.back-top{
    position: fixed;
    font-size:30pt;
    bottom: 10px;
    right: 10px;
    z-index:2;
}
first{ /*ブロック化して、左に空白を開ける*/
    display:block;
    margin-left:30px;
}
/* +++++++++++++++++++++++++++++++
   header
   +++++++++++++++++++++++++++++++  */
.header {
    height: 100px;
}
.header .fixbar {
    position: absolute;
    width: 85%;
    top: 35px;
    padding: 0px 7% 0;
    margin: 0;
    background-color: #fff;
    background-image: url("../img/fimg/line.png");
    background-position: bottom;
    background-repeat: repeat-x;
}
.header.fixed .fixbar {
    position: fixed;
    top: 0px;
}
.header_menu {
    position: absolute;
    top: 0px;
    width: 85%;
    padding: 0px 7% 0;
    background-image: url("../img/fimg/line_top.jpg");
    background-position: top;
    background-repeat: repeat-x;
}
/*
.header_menu-back {
    background-color: #ffa900;
}
div#header-fixed{
    position: fixed;
    background-color: #ffa900;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
}
div#header-back{
    background-color: #fff;
    padding: 3 0 5px;
    height: 70px;
    margin: 2px 0 0;
    width: 100%;
}
div#header-main{
    border: 5px solid #fff;
    height: 100%;
    width: 960px;
    margin: auto;
}*/
/* +++++++++++++++++++++++++++++++
   pagebody
   +++++++++++++++++++++++++++++++  */
div#body-back{
    padding: 40px 0 0;
}
div#body-main{
    width:85%;
    padding: 0 7% 0;
    margin:auto;
}
/* +++++++++++++++++++++++++++++++
   footer
   +++++++++++++++++++++++++++++++  */
div#footer{
    padding-left:70px;
    height:auto;
    color:gold;
    background-repeat: repeat-x;
    background-color:#faf8f5;
    z-index:1;
}